<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
    <ion-title>
      Crear Recordatorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 
  <ion-item>
  <ion-label position="floating" >Titulo Actividad</ion-label>
    <ion-input [(ngModel)]="recor.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tipo de Actividad</ion-label>
    <ion-select value="Seleccione" okText="Seleccionar" cancelText="Cancelar" [(ngModel)]="recor.t_actividad">
      <ion-select-option value="muyImportante">Muy Importante</ion-select-option>
      <ion-select-option value="importante">Importante</ion-select-option>
      <ion-select-option value="normal">Normal</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
  <ion-label position="floating" >Descripcion de Actividad</ion-label>
    <ion-input [(ngModel)]="recor.actividad"></ion-input>
  </ion-item>
 
  <ion-item>
  <ion-label position="floating">Fecha</ion-label>
  <ion-datetime displayFormat="MM/DD/YYYY" min="2020-03-14" max="2050-12-09" value="2002-09-23T15:03:46.789" [(ngModel)]="recor.fecha"></ion-datetime>
  </ion-item>

  <ion-item>
  <ion-label>Hora</ion-label>
  <ion-datetime displayFormat="h:mm a" [(ngModel)]="recor.hora"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>
      Foto:
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <label for="file-upload">
          <ion-icon slot="icon-only" name="images"></ion-icon>
        </label>
        <input type="file" accept=".png, .jpg" (change)="newImageUpload($event)" id="file-upload" style="display: none;">

      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <img [src]="recor.fotoUrl">
  </ion-item>

  <ion-item (click)="addDirection()" >
    <ion-label class="normal">
      Ubicacion
    </ion-label>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="danger" name="location"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-button color="secondary" expand="block" (click)="guardar()">Guardar</ion-button>
  </ion-item>
</ion-content>
