
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-button slot="end" fill="clear" (click)="Onlogout()">
      <ion-icon style="color:rgb(27, 0, 0)" name="exit" md="md-exit"></ion-icon>
    </ion-button>   
    <ion-title>
      Principal
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="ion-padding">
      <p>Yo soy la página de inicio</p>
  </div>
</ion-content>