<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

  <ion-button slot="end" fill="clear" (click)="Onlogout()">
    <ion-icon style="color:rgb(27, 0, 0)" name="exit" md="md-exit"></ion-icon>
  </ion-button>
  <ion-title>
    Principal
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides" text-center>
      <div class="slide-img-padding">
        <img [src]="slide.img" class="slide-img">
      </div>
      <div>
        <h3 [innerHTML]="slide.titulo"></h3>
      </div>
      <div>
        <p [innerHTML]="slide.des"></p>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border text-center>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-button [routerLink]="'/listar-recordatorios'" color="primary" expand="full" shape="round"
          class="btn-primary" mode="ios">
          MIS RECORDATORIOS
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button expand="full" fill="clear">
          <ion-label [routerLink]="'/crear_recordatorio'" color="dark">NUEVO RECORDATORIO</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>